# Ignore everything inside the output folder
output/*

# Ignore Database configuration file postgreconfig.py
dao/postgreconfig.py
dao/config.py

# But do not ignore the .gitkeep file (keeps the folder in Git)
!output/.gitkeep

# Ignore Python cache files
__pycache__/
*.pyc

# Large outputs
Extractors/output/
Extractors/etl_errors.log